<!DOCTYPE html>
<html>
<head>
	<title>YOONSANG KIM-8BC FACUTLY PROJECT</title>
	<link rel="shortcut icon" href="./favicon.ico">
	<script src = "/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<script src="/materialize.js"></script>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/style.css"/>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.3.0/dist/showdown.min.js"></script>
</head>
<body>
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="http://lorempixel.com/580/250/nature/1">
				<div class="caption center-align">
					<h3>FACULTY PROJECT</h3>
					<h5 class="light grey-text text-lighten-3">SPRITES</h5>
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/580/250/nature/2">
				<div class="caption left-align">
					<h3>FACULTY PROJECT</h3>
					<h5 class="light grey-text text-lighten-3">SPRITES</h5>
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/580/250/nature/3">
				<div class="caption right-align">
					<h3>FACULTY PROJECT</h3>
					<h5 class="light grey-text text-lighten-3">SPRITES</h5>
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/580/250/nature/4">
				<div class="caption center-align">
					<h3>MATHS & COMPUTER FACULTY PROJECT</h3>
					<h5 class="light grey-text text-lighten-3">SPRITES</h5>
				</div>
			</li>
		</ul>
	</div>
	<div class="white" style="height:100px;"></div>
	<ul id="slide-out" class="side-nav">
		<nav>
			<div class="nav-wrapper blue lighten-1">
				<form>
					<div class="input-field">
						<input id="search" type="search" required>
						<label for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>
		<div class="" style="height:20px;background:white"></div>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header waves-effect waves-light" style="font-size:20px;"><b>Introduction</b><i class="mdi-navigation-arrow-drop-down right"></i></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="#!" style="font-size:20px">Introduction</a></li>
							<li><a href="#!" style="font-size:20px">Plan</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<div class="" style="height:10px;background:white"></div>
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header waves-effect waves-dark" style="font-size:20px;"><b>Part One</b><i class="mdi-navigation-arrow-drop-down right"></i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="#!" style="font-size:20px">Bar Sprites</a></li>
						<li><a href="#!" style="font-size:20px">Cross Sprites</a></li>
						<li><a href="#!" style="font-size:20px">ROT.Cross Sprites</a></li>
						<li><a href="#!" style="font-size:20px">Small Conclusion</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="" style="height:10px;background:white"></div>
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header waves-effect waves-dark" style="font-size:20px;"><b>Part Two</b><i class="mdi-navigation-arrow-drop-down right"></i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="#!" style="font-size:20px">Main Theme</a></li>
						<li><a href="#!" style="font-size:20px">Symmetry(x-axis)</a></li>
						<li><a href="#!" style="font-size:20px">Symmetry(y-axis)</a></li>
						<li><a href="#!" style="font-size:20px">Symmetry(origin)</a></li>
						<li><a href="#!" style="font-size:20px">Symmetry(y=x)</a></li>
						<li><a href="#!" style="font-size:20px">Symmetry(y=-x)</a></li>
						<li><a href="#!" style="font-size:20px">Similarity</a></li>
						<li><a href="#!" style="font-size:20px">Rotation(90dgs)</a></li>
						<li><a href="#!" style="font-size:20px">Symmetry(y=ax)</a></li>
						<li><a href="#!" style="font-size:20px">Rotation(a)</a></li>
						<li><a href="#!" style="font-size:20px">Small Conclusion</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="" style="height:10px;background:white"></div>
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header waves-effect waves-dark" style="font-size:20px;"><b>Conclusion</b><i class="mdi-navigation-arrow-drop-down right"></i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="#!" style="font-size:20px">Conclusion</a></li>
						<li><a href="#!" style="font-size:20px">Evaluation</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="" style="height:10px;background:white"></div>
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header waves-effect waves-dark" style="font-size:20px;"><b>Others</b><i class="mdi-navigation-arrow-drop-down right"></i></a>
				<div class="collapsible-body">
					<ul>
						<li><a href="#!" style="font-size:20px">Interesting Facts</a></li>
						<li><a href="#!" style="font-size:20px">Introductary Video</a></li>
						<li><a href="#!" style="font-size:20px">Personal INFO.</a></li>
						<li><a href="#!" style="font-size:20px">Timetable(FAC)</a></li>
						<li><a href="#!" style="font-size:20px">Working Process</a></li>
						<li><a href="#!" style="font-size:20px">Git Hub</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>
<a class="btn-floating btn-large blue lighten-1 waves-effect waves-light red button-collapse" data-activates="slide-out" style="bottom:3%;left:2%;position:fixed"><i class="material-icons">menu</i></a>
<div class="fixed-action-btn horizontal" style="bottom:3%;right:2%;">
	<a class="btn-floating btn-large blue lighten-1">
		<i class="large material-icons">settings</i>
	</a>
	<ul>
		<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
		<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
		<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
	</ul>
</div>
<div class="row">
	<div class="col s8 offset-s1">
		<div id="introductaryParagraph" class="section scrollspy">
			<p>	<blockquote>A sprite is a two-dimensional (2d) bitmap graphic object that represents a game character or an object in terms of computer graphics. <br>
				  As the definition above clearly suggests, the idea of sprite is mainly based on and related to computer science, however, through this project <br>
					the two similar but different subjects, computer science and mathematics will be emerged and combined together. <br>
					This website presents, a simple sprites that are drawn on the numbered/labeled table based on the starting point of the sprite, <br>
					pivot and explores the mathematical rules behind it. For the part one investigation, the relationship between the pivot(P), <br>
					the starting point of the sprite , and the total(T) that is the sum of the coloured numbers on the grid including the pivot will be discussed.<br>
					As an extension mathematical task, in other word, part two, the 9 different transformations of the sprites on the coordinates instead of grid <br>
					will be introduced and shows a change of total in before transformation and after.</blockquote> </p>
		</div>

		<div id="structure" class="section scrollspy">
			<p>Content </p>
		</div>

		<div id="initialization" class="section scrollspy">
			<p>Content </p>
		</div>
	</div>
	<div class="col hide-on-small-only 3 offset-s9 fixed">
		<ul class="section table-of-contents">
			<li><a href="#introduction" class="theme" style="color:#ffca28;">Introduction</a></li>
			<li><a href="#introductaryParagraph">Introductary Paragraph</a></li>
			<li><a href="#initialization">Investigaion Plan</a></li>
			<li><a href="#initialization" class="theme" style="color:#ffca28;">Part One</a></li>
			<li><a href="#initialization">Bar Sprites</a></li>
			<li><a href="#initialization">Cross Sprites</a></li>
			<li><a href="#initialization">Rotated-Cross Sprites</a></li>
			<li><a href="#initialization">Small Conclusion</a></li>
			<li><a href="#initialization" class="theme" style="color:#ffca28">Part Two</a></li>
			<li><a href="#initialization">Introductary Paragraph for Extension</a></li>
			<li><a href="#initialization">Symmetry/Reflection (x-axis)</a></li>
			<li><a href="#initialization">Symmetry/Reflection (y-axis)</a></li>
			<li><a href="#initialization">Symmetry (origin)</a></li>
			<li><a href="#initialization">Symmetry/Reflection (y=x)</a></li>
			<li><a href="#initialization">Symmetry/Reflection (y=-x)</a></li>
			<li><a href="#initialization">Similarity Transformation</a></li>
			<li><a href="#initialization">Rotation (90 degrees)</a></li>
			<li><a href="#initialization">Symmetry/Reflection (y=ax)</a></li>
			<li><a href="#initialization">Rotation (a degrees / unknown degrees)</a></li>
			<li><a href="#initialization">Small Conclusion</a></li>
			<li><a href="#initialization" class="theme" style="color:#ffca28">Conclusion</a></li>
			<li><a href="#initialization">Conclusion</a></li>
			<li><a href="#initialization">Evaluation</a></li>
			<li><a href="#initialization" class="theme" style="color:#ffca28">Others</a></li>
		</ul>
	</div>
</div>
<script>
// initializations ( below ):
$(document).ready(function(){
	$('.scrollspy').scrollSpy();
});
$(".button-collapse").sideNav({
	menuWidth : 240
});
$(document).ready(function(){
	$('.slider').slider({full_width: true});
});
//table-of-contents settings$(window).scroll(function(){
$(".fixed > ul").css("top", Math.max(0, 450 - $(this).scrollTop()));
});
// Bar Sprites
// 10 by 10 grid making code ( below ):
$table = $('<table>');
$table.attr('id','barSpriteTable');
$thead = $('<thead>');
$tbody = $('<tbody>');
for(var i = 0; i < 10; ++i) {
	$tr = $('<tr>');
	for(var j = 0; j < 10; ++j) {
		$td = $('<td>');
		$td.attr('id','barSprite_'+i+'_'+j);
		$tr.append($td);
		$td.html(i*10+j+1);
	}
	$tbody.append($tr);
}
$table.append($thead);
$table.append($tbody);
$('body').append($table);
// Getting ID of 10 by 10 grid above (below):
$('#barSpriteTable td').mouseover(function() {
	var barSpriteId = $(this).attr('id');
	var barSpriteName = barSpriteId.split('_')[0];
	var barSpriteRow = parseInt(barSpriteId.split('_')[1]);
	var barSpriteCol = barSpriteId.split('_')[2];
	if(barSpriteRow != 0 && barSpriteRow != 9) {
		$('#'+barSpriteName+'_'+(barSpriteRow+1)+'_'+barSpriteCol).css('background-color', '#42a5f5');
		$('#'+barSpriteName+'_'+barSpriteRow+'_'+barSpriteCol).css('background-color', '#ef5350');
		$('#'+barSpriteName+'_'+(barSpriteRow-1)+'_'+barSpriteCol).css('background-color', '#42a5f5');
	}
	else {
		$('#'+barSpriteName+'_'+barSpriteRow+'_'+barSpriteCol).css('background-color', '#bdbdbd');
	}
});
//Clearing up the table
$('#barSpriteTable td').mouseleave(function() {
	var barSpriteId = $(this).attr('id');
	var barSpriteName = barSpriteId.split('_')[0];
	var barSpriteRow = parseInt(barSpriteId.split('_')[1]);
	var barSpriteCol = barSpriteId.split('_')[2];
	$('#'+barSpriteName+'_'+(barSpriteRow+1)+'_'+barSpriteCol).css('background-color', 'white');
	$('#'+barSpriteName+'_'+barSpriteRow+'_'+barSpriteCol).css('background-color', 'white');
	$('#'+barSpriteName+'_'+(barSpriteRow-1)+'_'+barSpriteCol).css('background-color', 'white');
});
// End of Bar Sprites
// 10 by 10 grid making code ( below ) (Cross Sprites):
$table = $('<table>');
$table.attr('id','crossSpriteTable');
$thead = $('<thead>');
$tbody = $('<tbody>');
for(var i = 0; i < 10; ++i) {
	$tr = $('<tr>');
	for(var j = 0; j < 10; ++j) {
		$td = $('<td>');
		$td.attr('id','crossSprite_'+i+'_'+j);
		$tr.append($td);
		$td.html(i*10+j+1);
	}
	$tbody.append($tr);
}
$table.append($thead);
$table.append($tbody);
$('body').append($table);
// Getting ID of 10 by 10 grid above (below):
$('#crossSpriteTable td').mouseover(function() {
	var crossSpriteId = $(this).attr('id');
	var crossSpriteName = crossSpriteId.split('_')[0];
	var crossSpriteRow = parseInt(crossSpriteId.split('_')[1]);
	var crossSpriteCol = parseInt(crossSpriteId.split('_')[2]);
	if(crossSpriteRow != 0 && crossSpriteRow != 9 && crossSpriteCol != 0 && crossSpriteCol != 9) {
		$('#'+crossSpriteName+'_'+(crossSpriteRow+1)+'_'+crossSpriteCol).css('background-color', '#42a5f5');
		$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+crossSpriteCol).css('background-color', '#ef5350');
		$('#'+crossSpriteName+'_'+(crossSpriteRow-1)+'_'+crossSpriteCol).css('background-color', '#42a5f5');
		$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+(crossSpriteCol+1)).css('background-color', '#42a5f5');
		$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+(+crossSpriteCol-1)).css('background-color', '#42a5f5');
	}
	else {
		$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+crossSpriteCol).css('background-color', '#bdbdbd');
	}
});
$('#crossSpriteTable td').mouseleave(function() {
	var crossSpriteId = $(this).attr('id');
	var crossSpriteName = crossSpriteId.split('_')[0];
	var crossSpriteRow = parseInt(crossSpriteId.split('_')[1]);
	var crossSpriteCol = parseInt(crossSpriteId.split('_')[2]);
	$('#'+crossSpriteName+'_'+(crossSpriteRow+1)+'_'+crossSpriteCol).css('background-color', 'white');
	$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+crossSpriteCol).css('background-color', 'white');
	$('#'+crossSpriteName+'_'+(crossSpriteRow-1)+'_'+crossSpriteCol).css('background-color', 'white');
	$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+(crossSpriteCol-1)).css('background-color', 'white');
	$('#'+crossSpriteName+'_'+crossSpriteRow+'_'+(crossSpriteCol+1)).css('background-color', 'white');
});
$table = $('<table>');
$table.attr('id','rcrossSpriteTable');
$thead = $('<thead>');
$tbody = $('<tbody>');
for(var i = 0; i < 10; ++i) {
	$tr = $('<tr>');
	for(var j = 0; j < 10; ++j) {
		$td = $('<td>');
		$td.attr('id','rcrossSprite_'+i+'_'+j);
		$tr.append($td);
		$td.html(i*10+j+1);
	}
	$tbody.append($tr);
}
$table.append($thead);
$table.append($tbody);
$('body').append($table);
// Getting ID of 10 by 10 grid above (below):
$('#rcrossSpriteTable td').mouseover(function() {
	var rcrossSpriteId = $(this).attr('id');
	var rcrossSpriteName = rcrossSpriteId.split('_')[0];
	var rcrossSpriteRow = parseInt(rcrossSpriteId.split('_')[1]);
	var rcrossSpriteCol = parseInt(rcrossSpriteId.split('_')[2]);
	if(rcrossSpriteRow != 0 && rcrossSpriteRow != 9 && rcrossSpriteCol != 0 && rcrossSpriteCol != 9) {
		$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow+1)+'_'+(rcrossSpriteCol+1)).css('background-color', '#42a5f5');
		$('#'+rcrossSpriteName+'_'+rcrossSpriteRow+'_'+rcrossSpriteCol).css('background-color', '#ef5350');
		$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow-1)+'_'+(rcrossSpriteCol+1)).css('background-color', '#42a5f5');
		$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow-1)+'_'+(rcrossSpriteCol-1)).css('background-color', '#42a5f5');
		$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow+1)+'_'+(+rcrossSpriteCol-1)).css('background-color', '#42a5f5');
	}
	else {
		$('#'+rcrossSpriteName+'_'+rcrossSpriteRow+'_'+rcrossSpriteCol).css('background-color', '#bdbdbd');
	}
});
$('#rcrossSpriteTable td').mouseleave(function() {
	var rcrossSpriteId = $(this).attr('id');
	var rcrossSpriteName = rcrossSpriteId.split('_')[0];
	var rcrossSpriteRow = parseInt(rcrossSpriteId.split('_')[1]);
	var rcrossSpriteCol = parseInt(rcrossSpriteId.split('_')[2]);
	$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow+1)+'_'+(rcrossSpriteCol+1)).css('background-color', 'white');
	$('#'+rcrossSpriteName+'_'+rcrossSpriteRow+'_'+rcrossSpriteCol).css('background-color', 'white');
	$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow-1)+'_'+(rcrossSpriteCol+1)).css('background-color', 'white');
	$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow-1)+'_'+(rcrossSpriteCol-1)).css('background-color', 'white');
	$('#'+rcrossSpriteName+'_'+(rcrossSpriteRow+1)+'_'+(+rcrossSpriteCol-1)).css('background-color', 'white');
});
</script>
</body>
</html>
